name: Publish Docker Image

on:
    push:
        branches: ["main"]

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: GHCR login
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ secrets.GHCR_USERNAME }}
                password: ${{ secrets.GHCR_PASSWORD }}
                
            - name: Set up docker buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push 
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: |
                    ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:latest
                    ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:${{ github.sha }}